search:
  results:
    table:
      columns:
        - id
        - name
  init:
    data:
      http: "https://api.ynab.com/v1/budgets"
      auth:
        header:
          # the value of bearer: is read from the environment
          bearer-env-var: "YNAB_API_TOKEN"
