init:
  named_search: budgets
searches:
  - name: transactions
    init:
      http:
        url: "https://api.ynab.com/v1/budgets/:budget_id/transactions"
        auth:
          header:
            bearer-env-var: "YNAB_API_TOKEN"
    results:
      table:
        columns:
          - name: "Date"
            path: ".data.transactions[].date"
          - name: "Payee name"
            path: ".data.transactions[].payee_name"
          - name: "Amount"
            path: ".data.transactions[].amount"
  - name: categories
    init:
      http:
        url: "https://api.ynab.com/v1/budgets/:budget_id/categories"
        auth:
          header:
            bearer-env-var: "YNAB_API_TOKEN"
    results:
      table:
        columns:
          - name: "Category group"
            path: ".data.categories[].category_group_name"
          - name: "Category"
            path: ".data.categories[].name"
    select:
      named_search: transactions
  - name: budgets
    init:
      http:
        url: "https://api.ynab.com/v1/budgets"
        auth:
          header:
            bearer-env-var: "YNAB_API_TOKEN"
    results:
      table:
        columns:
          - name: id
            path: ".data.budgets[].id"
          - name: name
            path: ".data.budgets[].name"
    select:
      named_search: categories
      http:
        url: "https://api.ynab.com/v1/budgets/:id"
        auth:
          header:
            bearer-env-var: "YNAB_API_TOKEN"
