init:
  named_search: budgets
searches:
  - name: transactions
    init:
      arguments: # this order matters
        - budget_id
        - category_id
      http:
        url: "https://api.ynab.com/v1/budgets/%s/categories/%s/transactions"
        method: "GET"
        auth:
          header:
            bearer-env-var: "YNAB_API_TOKEN"
    results:
      table:
        json:
          rows: ".data.transactions[]"
          columns:
            - name: "Date"
              path: ".date"
            - name: "payee_name"
              path: ".payee_name"
            - name: "Amount"
              path: ".amount"
  - name: categories
    init:
      arguments:
        - budget_id
      http:
        url: "https://api.ynab.com/v1/budgets/%s/categories"
        auth:
          header:
            bearer-env-var: "YNAB_API_TOKEN"
    results:
      table:
        json:
          rows: ".data.category_groups[].categories[]"
          columns:
            - name: "cat_id"
              path: ".id"
            - name: "category"
              path: ".name"
            - name: "cgroup"
              path: ".category_group_name"
    select:
      named_search: transactions
      datastore:
        category_id: 0
  - name: budgets
    init:
      http:
        url: "https://api.ynab.com/v1/budgets"
        auth:
          header:
            bearer-env-var: "YNAB_API_TOKEN"
    results:
      table:
        json:
          rows: ".data.budgets[]"
          columns:
            - name: id
              path: ".id"
            - name: name
              path: ".name"
    select:
      datastore: # instructions on where to store metadata after an entry is selected
        budget_id: 0 # [key]: [index of column in the results table that contains value]
      named_search: categories
