search:
  transactions:
    init:
      http: "https://api.ynab.com/v1/budgets/:budget_id/transactions"
      auth:
        header:
          bearer-env-var: "YNAB_API_TOKEN"
    results:
      table:
        columns:
          - name: "Date"
            path: ".transactions[].date"
          - name: "Payee name"
            path: ".transactions[].payee_name"
          - name: "Amount"
            path: ".transactions[].amount"
  categories:
    init:
      http: "https://api.ynab.com/v1/budgets/:budget_id/categories"
      auth:
        header:
          bearer-env-var: "YNAB_API_TOKEN"
    results:
      table:
        columns:
          - name: "Category group"
            path: ".categories[].category_group_name"
          - name: "Category"
            path: ".categories[].name"
    select:
      named_search:
        name: transactions
  budgets:
    init:
      http: "https://api.ynab.com/v1/budgets"
      auth:
        header:
          bearer-env-var: "YNAB_API_TOKEN"
    results:
      table:
        columns:
          - id
          - name
    select:
      named_search: categories
      http:
        url: "https://api.ynab.com/v1/budgets/:id"
        method: "GET"
        auth:
          header:
            bearer-env-var: "YNAB_API_TOKEN"
  results:
    table:
      columns:
        - id
        - name
  init:
    data:
      http: "https://api.ynab.com/v1/budgets"
      auth:
        header:
          # the value of bearer: is read from the environment
          bearer-env-var: "YNAB_API_TOKEN"
