init:
  named_search: budgets
searches:
  - name: transactions
    init:
      http:
        url: "https://api.ynab.com/v1/budgets/:budget_id/transactions"
        auth:
          header:
            bearer-env-var: "YNAB_API_TOKEN"
    results:
      table:
        json:
          rows: ".data.transactions[]"
          columns:
            - name: "Date"
              path: ".date"
            - name: "Payee name"
              path: ".payee_name"
            - name: "Amount"
              path: ".amount"
  - name: categories
    init:
      http:
        url: "https://api.ynab.com/v1/budgets/%s/categories"
        auth:
          header:
            bearer-env-var: "YNAB_API_TOKEN"
    results:
      table:
        json:
          rows: ".data.categories[]"
          columns:
            - name: "Category group"
              path: ".category_group_name"
            - name: "Category"
              path: ".name"
    select:
      named_search: transactions
  - name: budgets
    init:
      http:
        url: "https://api.ynab.com/v1/budgets"
        auth:
          header:
            bearer-env-var: "YNAB_API_TOKEN"
    results:
      table:
        json:
          rows: ".data.budgets[]"
          columns:
            - name: id
              path: ".id"
            - name: name
              path: ".name"
    select:
      named_search: categories
      http:
        url: "https://api.ynab.com/v1/budgets/:id"
        auth:
          header:
            bearer-env-var: "YNAB_API_TOKEN"
